body {
  background-color: #4d4a49;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  display: flex;
  font-size: 30px;
  color: white;
}

img {
  width: 144px;
  height: 144px;
}

h1 {
  margin: 0px;
  margin-top: 20px;
}
